html,
body,
header,
.view {
    height: 100%;
}
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background: no-repeat center center/cover;
}
.video-container video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.card {
    background-color: rgba(222, 226, 230, 0.8);
}
